In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})

In [3]:
?pd.melt()

In [4]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [5]:
pd.melt(df, id_vars = ['A'], value_vars = ['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [6]:
pd.melt(df, id_vars = ['A'], value_vars = ['B', 'C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [7]:
pd.melt(df, id_vars = ['A'], value_vars = ['B', 'C'], var_name = 'varTeste', value_name = 'nomeValor')

   A varTeste  nomeValor
0  a        B          1
1  b        B          3
2  c        B          5
3  a        C          2
4  b        C          4
5  c        C          6

In [8]:
# uso prático

In [9]:
data = {'localizacao': ['CidadeA', 'CidadeB'],
        'temperatura': ['Prevista', 'Atual'],
        'set-2019': [30, 32],
        'out-2019': [45, 43],
        'nov-2019': [24, 22]}

In [10]:
print(data)

{'localizacao': ['CidadeA', 'CidadeB'], 'temperatura': ['Prevista', 'Atual'], 'set-2019': [30, 32], 'out-2019': [45, 43], 'nov-2019': [24, 22]}

In [11]:
# df = pd.DataFrame(data, columns = ['Localizacao', 'Temperatura', 'Set-2019', 'Out-2019', 'Nov-2019'])

In [12]:
df = pd.DataFrame(data)

In [13]:
df

  localizacao temperatura  set-2019  out-2019  nov-2019
0     CidadeA    Prevista        30        45        24
1     CidadeB       Atual        32        43        22

In [14]:
df2 = pd.melt(df, id_vars = ['localizacao', 'temperatura'], var_name = 'Date', value_name = 'valor')

In [15]:
df2

  localizacao temperatura      Date  valor
0     CidadeA    Prevista  set-2019     30
1     CidadeB       Atual  set-2019     32
2     CidadeA    Prevista  out-2019     45
3     CidadeB       Atual  out-2019     43
4     CidadeA    Prevista  nov-2019     24
5     CidadeB       Atual  nov-2019     22